[user]
    name = Yuki Sumiyoshi
    email = smysyuk@gmail.com
[core]
    editor = nvim
[color]
    ui = true
[credential]
    helper = store
    UseHttpPath = true
[diff]
    tool = vimdiff
[difftool "vimdiff"]
    cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[mergetool "vimdiff"]
    cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
    # cmd = "nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'"
[rerere]
    enable = true
[cola]
	spellcheck = false
